# Digital Skill Fair - Day 3
### Dibimbing - Data Science

# import Package and Data

In [631]:
import numpy as np
import pandas as pd
from random import randint
import math

In [632]:
dataset = np.array([[randint(0, 10) for i in range(5)], [randint(0, 10) for i in range(5)]])
dataset

array([[5, 7, 5, 3, 1],
       [0, 7, 1, 9, 3]])

In [656]:
df = pd.DataFrame({"Column_1": dataset[0], "Column_2": dataset[1]})
df

   Column_1  Column_2
0         5         0
1         7         7
2         5         1
3         3         9
4         1         3

# Challange 1

### Nilai maksimum kolom 1

In [634]:
df['Column_1'].nlargest(3)

1    7
0    5
2    5
Name: Column_1, dtype: int32

In [657]:
df['Column_1'].nlargest(3).min()

5

nilai tertinggi ke-3 adalah 3

### Nilai minimal kolom 2

In [658]:
df['Column_2'].nsmallest(5)

0    0
2    1
4    3
1    7
3    9
Name: Column_2, dtype: int32

In [659]:
df['Column_2'].nsmallest(5).max()

9

nilai terendah ke-5 adalah 9

# Challange 2

In [638]:
dataset_1 = np.array([0, 1, 3, 4, 7])
df_1 = pd.DataFrame({"Column": dataset_1})

In [639]:
df_1.head()

   Column
0       0
1       1
2       3
3       4
4       7

In [640]:
df_1.cumsum()

   Column
0       0
1       1
2       4
3       8
4      15

# Challange 3

In [641]:
def palindromeCheck(text):
  if (text == text[::-1]):
    return "\'" + text + "\'" + " is a Palindrome"
  else:
    return "\'" + text + "\'" + " is not a Palindrome"

In [642]:
palindromeCheck('malam')

"'malam' is a Palindrome"

In [643]:
palindromeCheck('ABBA')

"'ABBA' is a Palindrome"

In [644]:
palindromeCheck('Python')

"'Python' is not a Palindrome"

# Challange 4

In [645]:
buyer = ["Aldo", "Budi", "Cindy", "Dylan"]
items = [["Book", "Magazine"], ["Realme 8", "Screen Protector"], ["iPhone 11", "Power Bank"], ["Face Shield", "Mask", "Hand Sanitizer"]]


df = pd.DataFrame({"Buyers": buyer, "Items Bought": items})
df.head()

  Buyers                         Items Bought
0   Aldo                     [Book, Magazine]
1   Budi         [Realme 8, Screen Protector]
2  Cindy              [iPhone 11, Power Bank]
3  Dylan  [Face Shield, Mask, Hand Sanitizer]

In [646]:
df.explode('Items Bought').reset_index(drop=True)

  Buyers      Items Bought
0   Aldo              Book
1   Aldo          Magazine
2   Budi          Realme 8
3   Budi  Screen Protector
4  Cindy         iPhone 11
5  Cindy        Power Bank
6  Dylan       Face Shield
7  Dylan              Mask
8  Dylan    Hand Sanitizer

# Challange 5

In [647]:
item_1 = ["Buku", "Buku", "Majalah", "iPhone", "iPhone", "Alat Tulis", "Mouse", "Keyboard"]
item_2 = ["Majalah", "Koran", "Buku", "Charger", "Power Bank", "Buku", "Keyboard", "Mouse"]

df = pd.DataFrame({"Item 1" : item_1, "Item 2" : item_2})
df

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
2     Majalah        Buku
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard
7    Keyboard       Mouse

In [648]:
duplicates = df[pd.DataFrame(np.sort(df.values)).duplicated()]
duplicates

     Item 1 Item 2
2   Majalah   Buku
7  Keyboard  Mouse

In [649]:
df.drop(duplicates.index, inplace=True)
df.reset_index(drop=True, inplace=True)
df

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
2      iPhone     Charger
3      iPhone  Power Bank
4  Alat Tulis        Buku
5       Mouse    Keyboard

# Challange 6

### Cara pertama

In [650]:
def polynomialsq(a, b, c):
    diskriminan = (b*b) - (4*a*c)
    
    if ((b*b) < (4*a*c)):
        return "No Solution"
  
    elif ((b*b) >= (4*a*c)):
        hasil = (-b+math.sqrt(diskriminan))/(2*a)
        return "X = " + str(hasil)

In [651]:
polynomialsq(1, 1, 3)

'No Solution'

In [652]:
polynomialsq(1, 2, 1)

'X = -1.0'

### Cara kedua

In [653]:
def polynomialsq(a, b, c):
    hasil = np.poly1d([a, b, c])

    if (int(hasil.r[0]) == 0 or int(hasil.r[1]) == 0):
        return "No Solution";

    else:
        return "X = " + str(hasil.r[0])

In [654]:
polynomialsq(1, 2, 1)

'X = -1.0'

In [655]:
polynomialsq(1, 1, 3)

C:\Users\RAIHAN~1\AppData\Local\Temp/ipykernel_13372/1242039744.py:4: ComplexWarning: Casting complex values to real discards the imaginary part
  if (int(hasil.r[0]) == 0 or int(hasil.r[1]) == 0):

'No Solution'